.app {
  min-height: 100vh;
  transition: background 0.3s ease, color 0.3s ease;
}

.app.light {
  background: #ffffff;
  color: #1f2937;
}

.app.dark {
  background: #58647c;
  color: #0f172a;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: #2c3e50;
}

header {
  background-color: #2980b9;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a, nav button{
  text-decoration: none;
  color: #ecf0f1;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover, nav button:hover {
  background-color: rgba(236, 240, 241, 0.2);
}

nav a.active, nav button.active {
  background-color: rgba(236, 240, 241, 0.4);
}


.app.light nav button {
  background-color: #2980b9;
  color: #ffffff;
}

.app.dark nav button {
  background-color: #47597e;
  color: #f4f6f8;
}

nav button:hover {
  opacity: 0.9;
}

main {
  padding: 30px;
  min-height: calc(100vh - 130px);
}

footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  padding: 15px;
  position: relative;
  bottom: 0;
  width: 100%;
}
